@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --clr-primary-cyan:hsl(179, 62%, 43%);
    --clr-primary-yellow: hsl(71, 73%, 54%);

    --clr-gray:hsl(204, 43%, 93%);
    --clr-blue:hsl(218, 22%, 67%);

    --break-point: 1024px;
}

html,body{
font-size: 10px;
font-weight: 400;
font-family: 'Karla', sans-serif;
}

main {
    padding: 4rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
article {
 display: grid;

}

section {
    height: 10rem;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem;
}

h1{
font-weight: bold;
font-size: 1.6rem;
}

h2{

}

h3 {

}