@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-primary-cyan: hsl(179, 62%, 43%);
  --clr-primary-cyan-300: #4abebd;
  --clr-primary-yellow: hsl(71, 73%, 54%);

  --clr-gray: hsl(204, 43%, 93%);
  --clr-blue: hsl(218, 22%, 67%);
}

html,
body {
  font-size: 10px;
  font-weight: 400;
  font-family: 'Karla', sans-serif;
  background-color: var(--clr-gray);
  color: white;
}

main {
  padding: 5rem 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
article {
  display: grid;
  width: 100%;
  height: 100%;
  box-shadow: 0px 5px 30px -10px rgba(108, 119, 138, 1);
  border-radius: 0.5rem;
  overflow: hidden;
}

section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2.2rem;
}

h1 {
  font-weight: bold;
  font-size: 2rem;
}

h2 {
  font-weight: bold;
  font-size: 1.8rem;
}

h3 {
  font-weight: bold;
  font-size: 1.6rem;
}

p {
  color: var(--clr-blue);
  font-size: 1.4rem;
  line-height: 1.8;
}

/* Section 1 */
.header {
  background-color: white;
}

.header__title {
  color: var(--clr-primary-cyan);
  margin-bottom: 2.5rem;
}

.header__subtitle {
  color: var(--clr-primary-yellow);
  margin-bottom: 1.5rem;
  font-weight: 700;
}

/* END Section 1 */
/* Section 2 */
.subscription {
  background-color: var(--clr-primary-cyan);
}

.subscription__title {
  margin-bottom: 1rem;
}
.subscription__subtitle {
  display: flex;
  align-items: center;
  color: hsl(204, 43%, 93%, 0.6);
  font-weight: 400;
}

.subscription__price {
  font-size: 3rem;
  margin-right: 1.5rem;
  color: white;
  font-weight: bold;
}

.subscription__desc {
  margin-top: 0.5rem;
  margin-bottom: 2.5rem;
  color: var(--clr-gray);
  font-size: 1.6rem;
}

.subscription__btn {
  width: 100%;
  max-width: 40rem;
  padding: 1.5rem;
  color: white;
  background-color: var(--clr-primary-yellow);
  font-weight: bold;
  font-size: 1.4rem;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 1px 2px 10px 4px rgba(108, 119, 138, 0.5);
}

.subscription__btn:hover {
  background-color: hsl(71, 73%, 45%);
}
/* END Section 2 */
/* Section 3 */
.about {
  background-color: var(--clr-primary-cyan-300);
}

.about__title {
  margin-bottom: 1.5rem;
}
.about__list {
  color: var(--clr-gray);
  list-style: none;
  font-size: 1.4rem;
}

.about__item {
  padding: 0.2rem;
}
/* END Section 3 */

@media screen and (min-width: 768px) {
  main {
    height: 100vh;
  }
  article {
    width: 65rem;
    height: 45rem;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 1rem;
  }
  section {
    padding: 3rem;
  }

  .header {
    grid-column: 1 / 3;
  }
}
